$true-blue: hsla(210, 100%, 40%, 1);
$light-sky-blue: hsla(210, 100%, 80%, 1);
$egyptian-blue: hsla(220, 100%, 30%, 1);
$battleship-gray: hsla(0, 0%, 60%, 1);
$white-smoke: hsla(0, 0%, 95%, 1);
$black: hsla(0, 0%, 0%, 1);

.container {
    max-width: 1440px;
    margin: auto;
}

//header
header {
    background-color: $battleship-gray;
    color: $white-smoke;

    .logo {
        display: inline-block;
        margin: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .menu-icon {
        float: right;
        margin: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar {
        ul {
            list-style: none;
            text-align: center;

            li {
                padding: 1rem;
                border-radius: 2rem;

                &:hover {
                    background-color: $egyptian-blue;
                }

                a {
                    text-decoration: none;
                    color: $white-smoke;
                    text-transform: uppercase;
                    padding: 1rem;

                    &:hover {
                        color: $light-sky-blue;
                    }

                    &:active {
                        color: $white-smoke;
                    }
                }
            }
        }
    }
}

.inactive {
    display: none;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;

        .logo {
            padding: 0;
        }

        .menu-icon {
            display: none;
        }

        .navbar {
            display: inline-block;

            ul {
                li {
                    display: inline-block;
                    padding: 0.5rem;
                    border-radius: unset;
                    margin: 1rem;

                    &:hover {
                        background-color: unset;
                    }

                    a {
                        padding: 0;
                    }

                    &.contact-button {
                        background-color: $egyptian-blue;
                    }
                }
            }
        }
    }
}


// Introduction Section

.introduction {
    text-align: center;

    .introduction-text {
        padding: 1rem;

        p {
            color: $black;
            margin: 1rem;
        }
    }

    .call-to-action-buttons {
        display: flex;
        justify-content: center;

        .contact-button {
            background-color: $true-blue;
            padding: 1rem;
            border-radius: 0.5rem;

            &:hover {
                background-color: $egyptian-blue;
            }

            a {
                color: $white-smoke;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    .introduction-text-image {
        margin: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

//Skills Section

.skills {
    h2 {
        text-align: center;
        color: $black;
        padding: 37px;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .skill-item {
            list-style: none;

            .fa-square-js, .fa-node, .fa-react, .fa-html5, .fa-css3 {
                font-size: 3rem;
                color: $egyptian-blue;
                margin: 1rem;
            }
        }
    }
}

// Projects Section

.projects {

    h2 {
        text-align: center;
        padding: 37px;
    }


    .projects-list {
        color: $white-smoke;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        list-style: none;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;

        }

        .project-item {
            text-align: center;
            background: $battleship-gray;
            width: 90%;
            margin: auto;
            box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
            @media (min-width: 768px) {
                width: 25%;
                margin: 1rem;
            }

            .project-card {
                .project-image-container {

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .project-description {
                    padding: 1rem;

                    > * {
                        padding: 0.5rem
                    }

                    .project-links {
                        display: flex;
                        justify-content: center;
                        padding: 1rem;

                        .fa-github {
                            font-size: 3rem;
                            color: $egyptian-blue;

                        }
                    }
                }
            }
        }
    }
}

// About Section

.about {

    h2 {
        text-align: center;
        padding: 37px;
    }

    .about-me-content {
        margin: auto;
        max-width: 90%;
        @media (min-width: 768px) {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .about-description {
            @media (min-width: 768px) {
                max-width: 50%;
            }

            .about-description-text {
                padding: 0.5rem;
                line-height: 1.5rem;
                text-align: justify;
            }
        }

        .about-photo {
            display: none;
            @media (min-width: 768px) {
                display: block;
                max-width: 50%;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

    }
}