$true-blue: hsla(210, 100%, 40%, 1);
$light-sky-blue: hsla(210, 100%, 80%, 1);
$egyptian-blue: hsla(220, 100%, 30%, 1);
$battleship-gray: hsla(0, 0%, 60%, 1);
$white-smoke: hsla(0, 0%, 95%, 1);
$black: hsla(0, 0%, 0%, 1);

header {
    background-color: $battleship-gray;
    color: $white-smoke;

    .logo {
        display: inline-block;
        margin: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .menu-icon {
        float: right;
        margin: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar {
        ul {
            list-style: none;
            text-align: center;

            li {
                padding: 1rem;
                border-radius: 2rem;

                &:hover {
                    background-color: $egyptian-blue;
                }

                a {
                    text-decoration: none;
                    color: $white-smoke;
                    text-transform: uppercase;
                    padding: 1rem;

                    &:hover {
                        color: $light-sky-blue;
                    }

                    &:active {
                        color: $white-smoke;
                    }
                }
            }
        }
    }
}

.inactive {
    display: none;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;

        .logo {
            padding: 0;
        }

        .menu-icon {
            display: none;
        }

        .navbar {
            display: inline-block;

            ul {
                li {
                    display: inline-block;
                    padding: 0.5rem;
                    border-radius: unset;
                    margin: 1rem;

                    &:hover {
                        background-color: unset;
                    }

                    a {
                        padding: 0;
                    }

                    &.contact-button {
                        background-color: $egyptian-blue;
                    }
                }
            }
        }
    }
}
