.container {
  max-width: 1440px;
  margin: auto;
}

header {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 95%);
}
header .logo {
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
header .menu-icon {
  float: right;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
header .navbar ul {
  list-style: none;
  text-align: center;
}
header .navbar ul li {
  padding: 1rem;
  border-radius: 2rem;
}
header .navbar ul li:hover {
  background-color: hsl(220, 100%, 30%);
}
header .navbar ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding: 1rem;
}
header .navbar ul li a:hover {
  color: hsl(210, 100%, 80%);
}
header .navbar ul li a:active {
  color: hsl(0, 0%, 95%);
}

.inactive {
  display: none;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  header .logo {
    padding: 0;
  }
  header .menu-icon {
    display: none;
  }
  header .navbar {
    display: inline-block;
  }
  header .navbar ul li {
    display: inline-block;
    padding: 0.5rem;
    border-radius: unset;
    margin: 1rem;
  }
  header .navbar ul li:hover {
    background-color: unset;
  }
  header .navbar ul li a {
    padding: 0;
  }
  header .navbar ul li.contact-button {
    background-color: hsl(220, 100%, 30%);
  }
}
.introduction {
  text-align: center;
}
.introduction .introduction-text {
  padding: 1rem;
}
.introduction .introduction-text p {
  color: hsl(0, 0%, 0%);
  margin: 1rem;
}
.introduction .call-to-action-buttons {
  display: flex;
  justify-content: center;
}
.introduction .call-to-action-buttons .contact-button {
  background-color: hsl(210, 100%, 40%);
  padding: 1rem;
  border-radius: 0.5rem;
}
.introduction .call-to-action-buttons .contact-button:hover {
  background-color: hsl(220, 100%, 30%);
}
.introduction .call-to-action-buttons .contact-button a {
  color: hsl(0, 0%, 95%);
  text-decoration: none;
  text-transform: uppercase;
}
.introduction .introduction-text-image {
  margin: auto;
}
.introduction .introduction-text-image img {
  max-width: 100%;
  height: auto;
}

.skills h2 {
  text-align: center;
  color: hsl(0, 0%, 0%);
  padding: 37px;
}
.skills .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills .skills-list .skill-item {
  list-style: none;
}
.skills .skills-list .skill-item .fa-square-js, .skills .skills-list .skill-item .fa-node, .skills .skills-list .skill-item .fa-react, .skills .skills-list .skill-item .fa-html5, .skills .skills-list .skill-item .fa-css3 {
  font-size: 3rem;
  color: hsl(220, 100%, 30%);
  margin: 1rem;
}

.projects h2 {
  text-align: center;
  padding: 37px;
}
.projects .projects-list {
  color: hsl(0, 0%, 95%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .projects .projects-list {
    flex-direction: row;
    justify-content: space-around;
  }
}
.projects .projects-list .project-item {
  text-align: center;
  background: hsl(0, 0%, 60%);
  width: 90%;
  margin: auto;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .projects .projects-list .project-item {
    width: 25%;
    margin: 1rem;
  }
}
.projects .projects-list .project-item .project-card .project-image-container img {
  width: 100%;
  height: auto;
}
.projects .projects-list .project-item .project-card .project-description {
  padding: 1rem;
}
.projects .projects-list .project-item .project-card .project-description > * {
  padding: 0.5rem;
}
.projects .projects-list .project-item .project-card .project-description .project-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.projects .projects-list .project-item .project-card .project-description .project-links .fa-github {
  font-size: 3rem;
  color: hsl(220, 100%, 30%);
}

.about h2 {
  text-align: center;
  padding: 37px;
}
.about .about-me-content {
  margin: auto;
  max-width: 90%;
}
@media (min-width: 768px) {
  .about .about-me-content {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about .about-me-content .about-description {
    max-width: 50%;
  }
}
.about .about-me-content .about-description .about-description-text {
  padding: 0.5rem;
  line-height: 1.5rem;
  text-align: justify;
}
.about .about-me-content .about-photo {
  display: none;
}
@media (min-width: 768px) {
  .about .about-me-content .about-photo {
    display: block;
    max-width: 50%;
  }
}
.about .about-me-content .about-photo img {
  max-width: 100%;
  height: auto;
}

.contact h2 {
  text-align: center;
  padding: 37px;
}
.contact form label {
  display: block;
  color: hsl(0, 0%, 60%);
}
@media (min-width: 768px) {
  .contact form .name, .contact form .email {
    display: inline-block;
    width: 49.7%;
  }
}
.contact form .field {
  max-width: 100%;
  padding: 0.5rem 1.5rem;
}
.contact form .field input, .contact form .field textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.contact form .button {
  padding: 0.5rem 1.5rem;
}
@media (min-width: 768px) {
  .contact form .button {
    width: 15rem;
    margin-inline: auto;
  }
}
.contact form .button button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 60%);
  background-color: hsl(210, 100%, 40%);
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  border-radius: 1rem;
}
.contact form .button button:hover {
  background-color: hsl(220, 100%, 30%);
}
.contact form .button button:active {
  background-color: hsl(210, 100%, 80%);
  color: hsl(0, 0%, 0%);
}

footer {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  margin: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
footer .social-media .social-media-list {
  list-style: none;
}
footer .social-media .social-media-list .social-media-item .fa-linkedin {
  font-size: 3rem;
  color: hsl(220, 100%, 30%);
  margin: 1rem;
}
footer .copyright {
  margin: 1rem;
  font-size: 0.8rem;
}

/*# sourceMappingURL=index.css.map */
